
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
  
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, {
    display: block; }

    ol, ul {
        list-style: none; }

html {
    font-size: 16px;
    
}

@media (min-width: 360px) {
    html {
        font-size: 18px;
}

@media (min-width: 1680px) {
    html {
        font-size: 22px;
       
    }
}

body {
    font-family: 'Mada', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #9f9f9f;
    letter-spacing: 0px;
}

section {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;    
}

.wrapper {
    max-width: 950px;
    margin: 0 auto;
  
}

@media (max-width: 992px) {
    .wrapper {
        padding-left: 4rem;
        padding-right: 4rem; 
    } 
}

.content_none{
    display: none;
}

.main-hdr {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 20;
    overflow: hidden;
    color: #fff;
}

.hdr-logo{
    position: absolute;
    top: 20px;
    width: 100px;
}

.hdr-nav{
    margin: 0 auto;
    text-align: center;
    height: 54px;
    margin-top: 21px;
    text-transform: capitalize;
    /* margin-left: 90px; */
    width: 750px;
}

.hdr-nav li {
    display: inline-block;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 54px;
    font-size: 14px;
    height: 54px;
    border-right: 1px solid #8f9e8f;
    text-transform: uppercase;
}

.hdr-nav li:last-child{
    border:none;
}


.hero {
    margin-top: 0;
    background: rgb(238, 238, 238) url(../img/hero_desc.jpg) no-repeat 50% 0;
    height: 650px;
    position: relative;
}
.hero img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

.hero_content {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}


a {
    color: inherit;
    text-decoration: none;
}


button {
    background: none;
    border: 0;
    padding: 0;
}

p {
    margin: 22px 0;
    font-weight: 300;
    color:  #2d2d2d;
}

h1, h2 {
    font-family: 'Homenaje', sans-serif;
    font-size: 50px;
    color:#fff;
}

h1 {
    font-size: 58px;
    text-transform: uppercase;
    line-height: 1;
}

.jump_to{
 
    /* position:fixed;
    right: 0%;
    z-index: 20;
    top: 50%; */

    position: absolute;
    z-index: 20;
    top: 180%;
    right: 0%;
    
   
}

.jump_to_sticky{
    position: sticky;
    top:50px;
    width: 88px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jump_to span{
        border: solid #555555;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 12px;
}

.vl{
    border-bottom: 1px solid #555555;
    width: 88px;
    margin-bottom: 10px;
}

.jump_up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.jump_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* 
.jump_to span:first-child:before{
    content: “﹀”;
    color: #333;
    
} */

.font__color__dark{
    color: #2d2d2d;
}

.mission_content, .products {
    max-width: 750px;
    margin: 0 auto;
}

.mission_content p::before, .slider_txt p::before {
    content: "„";
    font-family: 'Mada', sans-serif;
    font-weight: 900;
    font-size: 61px;
    position: absolute;
    margin-top: -60px;
    margin-left: -60px;
}

.mission_content h2, .products h2 {
    text-align: center;
}

.content_center {
    text-align: center;
}
    

.clients {
    background: rgb(238, 238, 238) url(../img/bg_cilents_desc.jpg) no-repeat 50% 0;
    height: 724px;
    box-sizing: border-box;
    padding-top: 100px;
    position: relative;
}

.slider__content{
    text-align: left;
}
    
.slider_txt{
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: 0px;
    font-weight: 300;
    color: #3c3c3c;
}

.slider_img{
    float: left;
    margin-left: -100px;
    margin-top: -20px;
    padding-right: 40px;
}

.slider__buttons{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.slider__category{
    font-size: 22px;
    color: #3c3c3c;
}

.slider__category a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.slider__tags{
    font-size: 15px;
    margin-top: 40px;
}

.slider__tags span{
    color: #222222;
    border: 1px solid #3c3c3c;
    padding: 2px 8px;
}

input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; 
    bottom: 20px;
}
    
input[type="radio"] + span {
    position: relative;
    padding-left: 30px; 
}

input[type="radio"] + span::before {
    content: "●";
    position: absolute;
    left: 0;
    font-size: 30px;
    margin-top: -5px;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
}
  
input[type="radio"]:checked + span::before {
    content: "●";
    color: #fff; 
    opacity: 1;
}


.svg {
    height: 139px;
}

/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/06/2018 19:59
  	*/
/* 
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-map:before {
    content: "\f100";
} */

.products__cont{
    padding-top: 90px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
  }

  @media (max-width: 420px) {
    .products__cont{
        grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 768px) {
    .products__cont{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

  .products__box{
      width: 166px;
      height: 160px;
      cursor: pointer;
      position: relative;
  }

  .products__box__text{
      width: 196px;
      height: 390px;
      background-color: #62c017;
      position: absolute;
      top: -32%;
      left: -8%;
     
      display: none;
  }
 
  .products__box__text p{
      padding: 220px 15px 30px 15px;
      color: #fff;
      font-size: 14px;
      line-height: 1.3;
  }
  .products__box .icon {
    max-width: 100%;
    z-index: -10;
  }

   .products__box:hover .products__box__text{
      display: block;
      z-index: 10;
  }

  .products__box:hover .icon {
      position: relative;
    z-index: 1000;
    fill: #fff;
}




  .map{
    background: url(../img/bg_contact_desc.jpg) no-repeat 50% 0;
    position: relative;
    text-align: center;
    height: 493px;
}

.map-adress{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  line-height: 1;
  width: 250px;

}

.compass{
    position: absolute;
    margin-left: -50px;
    margin-top: 15px;
}

p strong {
    font-weight: 400;
}

.flaticon-map{
    position: absolute;
    top: 360px;
    left: 1250px;
}



.contact_cont{
   width: 760px;
}

.contact h2 {
    margin-left: -90px;
}

form p {
    font-size: 30px;
}

/* input::placeholder{
    width: auto;
} */
input {
    border: none;
    border-bottom: 1px solid #858585;
    font-family: 'Mada', sans-serif;
    padding-right: 3%;
    padding-left: 3%;
    text-align: center;
    letter-spacing: -.5px;
}

label{
    font-size: 18px;
    font-family: 'Mada', sans-serif;
    font-weight: 300;
    color: #373737;
}




input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; 
}
    
input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px; 
}

input[type="checkbox"] + label::before {
    content: "☐";
    position: absolute;
    left: 0;
    font-size: 30px;
    margin-top: -5px;
    color: #d5d5d5;
}
  
input[type="checkbox"]:checked + label::before {
    content: "☑";
    color: #62c017; 
}
.form__center{
    width: 300px;
    margin: 0 auto;
}

.btn {
	background-color:#63c017;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Homenaje', sans-serif;
	font-size:22px;
	padding: 10px 16px;
    text-decoration:none;
    margin-top: 50px;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}

button::after{
    content: "→";
    margin-left: 44px;
}



.main-foot{
    color: #8f8f8f;
    background-color: #242424;
    height: 89px;
    position: relative;
}

.foot_copy {
    font-size: 12px;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    margin-left: -90px;
}